.wrapperWraper {
  background-color: #23120b;
  padding: 100px;
  border-radius: 4px;
}

.appWrapper {
  background-color: #fdb827;
  padding: 10px;
  border-radius: 4px;
}

.inputsWrapper {
  background-color: #21209c;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.mainTitle {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.inputTitle {
  color: white;
}

.jokeWrapper {
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 4px;
}

.questionItem, .answerItem {
font-size: 24px;
color: rgba(0, 0, 0, 0.753);
}

